@model ExedePrueba.Models.Habitacion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalels</h2>

<div>
    <h4>Habitación</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Hotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Hotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaximaCantidadHuespedes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaximaCantidadHuespedes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_TipoAlojamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_TipoAlojamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
